.button-add {
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    color: rgb(61, 61, 133);
    font-size: 32px;
}

.main-container {
    text-align:center;
    background:#6392f8;
    width:400px;
}

.overlay-calendar{
    padding-top: 5px;
    margin-left: 0px;
    text-align: left;
}